main{
    width: 90%;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
}

main article{
    width: 66.66%;
    padding: 0em 0.5em;
}

main article img{
    margin: 1em auto;
    padding: 0em;
    box-shadow: var(--outershadow);
    height: 8em;
    width: 8em;
    border-radius: 50%;
    border: 2px solid var(--border);
}

.footer{
    margin-top: 1em;
    font-size: small;
    text-align: center;
}

main aside{
    all: initial;
    width: 33.33%;
    padding: 0.5em 1em;
}

main aside a{
    font-family: "Gill Sans Std";
    text-align: center;
    text-decoration: none;
}

main aside hr{
    margin-right: 0em;
}

@media only screen and (max-width: 960px) {
    main article{
        width: 100%;
    }

    main article img{
        height: 4em;
        width: 4em;
    }
    
    main aside{
        display: none;
    }
}

/* MENU (NEED TO STANDARDIZE) */
/* BUTTONS NEVER BECOME MOBILE. */

#mainmenu {
    position: absolute;
    z-index: 1;
    top: 1em;
    right: 1em;
    display: flex;
    flex-direction: column;
}

#navigationButton,
#settingsButton,
#downloadButton,
#paletteSwapButton {
    margin: 0.5em;
    width: 48px;
    height: 48px;
    color: var(--front1);
    border-radius: 0.375em;
    background: var(--back2);
    box-shadow: var(--outershadow);
    border: 1px solid var(--border);
    padding: none;
    font-size: 1.5em;
    font-weight: bolder;
    z-index: 1;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#navigationButton:focus,
#settingsButton:focus,
#downloadButton:focus,
#paletteSwapButton:focus {
    outline: 0;
}

#navigationButton:hover,
#settingsButton:hover,
#downloadButton:hover,
#paletteSwapButton:hover {
    transform: scale(1.125);
}

#navigationButton:active,
#settingsButton:active,
#downloadButton:active,
#paletteSwapButton:active {
    transform: scale(0.95);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0),
                -3px -3px 6px rgba(0, 0, 0, 0),
                var(--innershadow);
}

#navigationClose,
#settingsClose {
    color: var(--front1);
    top: 8px;
    right: 8px;
}


/* May want to change the max-width here so that the aside buttons never overlap with the main block. */
@media only screen and (max-width: 640px) {
    article {
        margin: 0em 0.5em;
        padding: 0em;
    }

    aside{
        /* REMOVE PREVIOUS SETTINGS */
        position: relative;
        z-index: auto;
        top: auto;
        right: auto;

        /* NEW SETTINGS */
        margin: auto 1em;
        /* Left and right sides don't QUITE line up with the main block... Whatever can be done about that...? */
        flex-direction: row;
        justify-content: center;
    }

    aside button{
        flex-grow: 1;
    }
}