:root {
    --back2clear: rgba(22, 22, 22, 0.5);
}


:root.light {
    --back2clear: rgba(229, 230, 235, 0.5);
}


/**********************************
 * Chapter 1: Quest for the Masks *
 **********************************/


#cardXCF8IZ {
    border-color: #5b757c;
}


/* Mata Nui: The Online Game */
#card2FC589 {
    border-color: #cb9e36;
}


/* BIONICLE: Quest for the Masks (TCG) */
#cardCGEC7C {
    border-color: #010203;
}


/* BIONICLE Chronicles #1: Tale of the Toa */
#cardGNO2P6 {
    border-color: #c72f19;
}


/* BIONICLE Chronicles #1: Tale of the Toa: “Tahu — Toa of Fire”,
   Tahu/Tahu Nuva (Reference Subject) */
#card0J81JD,
#cardD287EB {
    border-color: #93001c;
}


/* BIONICLE Chronicles #1: Tale of the Toa: “Lewa — Toa of Air”,
   Lewa/Lewa Nuva (Reference Subject) */
#cardO927E6,
#cardAF368C {
    border-color: #003A09;
}


/* BIONICLE Chronicles #1: Tale of the Toa: “Onua — Toa of Earth”,
   Onua/Onua Nuva (Reference Subject) */
#card8QH3GV,
#cardD2A01E {
    border-color: #000;
}


/* BIONICLE Chronicles #1: Tale of the Toa: “Gali — Toa of Water”,
   Gali/Gali Nuva (Reference Subject) */
#cardR1J9VR,
#card8C8007 {
    border-color: #00204B;
}


/* BIONICLE Chronicles #1: Tale of the Toa: “Pohatu — Toa of Stone”,
   Pohatu/Pohatu Nuva (Reference Subject) */
#cardWV07MQ,
#card4FC952 {
    border-color: #3A1C00;
}


/* BIONICLE Chronicles #1: Tale of the Toa: “Kopaka — Toa of Ice”,
   Kopaka/Kopaka Nuva (Reference Subject) */
#cardR6LJE0,
#cardD69C39 {
    border-color: #779499;
}


/* Mata Nui: The Online Game Walkthrough */
#cardKQRMXG {
    border-color: #b6cdd2;
}


/********************************
 * Chapter 2: The Bohrok Swarms *
 ********************************/


#cardQ2N8NX {
    border-color: #5a5833;
}


/* BIONICLE Chronicles #2: Beware the Bohrok */
#card89L0VB {
    border-color: #6e92ce;
}


/****************************************
 * Chapter 3: The Toa Nuva & Bohrok-Kal *
 ****************************************/


#cardJBTY4O {
    border-color: #57453e;
}


/* BIONICLE Chronicles #3: Makuta’s Revenge */
#card685M4D {
    border-color: #448d30;
}


/* BIONICLE Chronicles #4: Tales of the Masks */
#card5LTDQZ {
    border-color: #ff990b;
}


/********************************
 * Chapter 4: The Mask of Light *
 ********************************/


#cardECOHYW {
    border-color: #3a2f1d;
}


/* BIONICLE: Mask of Light (Novelization) */
#cardXJDC9U {
    border-color: #594A37;
}


/* BIONICLE: Mask of Light — The Movie */
#cardE2PJ0R {
    border-color: #594A37;
}


/* BIONICLE: The Game */
#cardQU8PCV {
    border-color: #594A37;
}


/***********************************
 * Chapter 5: Legends of Metru Nui *
 ***********************************/


#cardLHIBBZ {
    border-color: #878889;
}


/* BIONICLE Adventures #1: Mystery of Metru Nui */
#card1EN6EC {
    /* Initial background color is back2 blended with border color with three midpoints, closest to back2. */
    background: linear-gradient(90deg, rgba(54, 33, 29, .5), var(--back2clear));
    border-color: #af3b24;
}


/* BIONICLE Adventures #2: Trial by Fire */
#cardZYZBM9 {
    background: linear-gradient(90deg, rgba(17, 48, 35, .5), var(--back2clear));
    border-color: #18793a;
}


/* BIONICLE Adventures #3: The Darkness Below */
#cardEC7AOP {
    background: linear-gradient(90deg, rgba(12, 39, 53, .5), var(--back2clear));
    border-color: #045581;
}


/* BIONICLE Adventures #4: Legends of Metru Nui */
#card5PC6M8 {
    background: linear-gradient(90deg, rgba(16, 22, 25, .5), var(--back2clear));
    border-color: #151011;
}


/* BIONICLE Adventures #5: Voyage of Fear */
#card5L9VU7 {
    background: linear-gradient(90deg, rgba(74, 74, 34, .5), var(--back2clear));
    border-color: #ffdf38;
}


/* BIONICLE Adventures #6: Maze of Shadows */
#card0BSZ48 {
    background: linear-gradient(90deg, rgba(29, 55, 84, .5), var(--back2clear));
    border-color: #4a95ff;
}


/* Vahki Animations */
#cardP0SOQS {
    background: linear-gradient(90deg, rgba(4, 6, 7, .5), var(--back2clear));
    border-color: #000;
}


/* BIONICLE #3: City of Legends */
#card8E55D4 {
    border-color: #ed2226;
}


/*****************************
 * Chapter 6: Web of Shadows *
 *****************************/


#cardUELI6L {
    border-color: #707d4e;
}


/* BIONICLE Adventures #7: Web of the Visorak */
#cardFB8NQ0 {
    border-color: #56bc3f;
}


/* BIONICLE Adventures #8: Challenge of the Hordika */
#card0ODDBR {
    border-color: #ff9b12;
}


/* BIONICLE 3: Web of Shadows */
#cardMB376M {
    border-color: #446710;
}


/* BIONICLE Adventures #9: Web of Shadows */
#cardPTMJ5P {
    border-color: #8f8c4f;
}


/* BIONICLE Adventures #10: Time Trap */
#card3PJT80 {
    border-color: #fd0801;
}


/* BIONICLE #4: Trial by Fire */
#card321BD5 {
    border-color: #ed2226;
}


/***********************
 * Chapter 7: Voya Nui *
 ***********************/


#card08H6CX {
    border-color: #957264;
}


/************************
 * Chapter 8: Mahri Nui *
 ************************/


#card7M5DDC {
    border-color: #547288;
}


/* BIONICLE #6: The Underwater City */
#card7A3DD7 {
    border-color: #ed2226;
}


/********************************************
 * Chapter 9: Phantoka — Spirits of the Air *
 ********************************************/


#cardCU4QW2 {
    border-color: #69827a;
}


/* BIONICLE #7: Realm of Fear */
#cardAC83F6 {
    border-color: #ed2226;
}


/* BIONICLE Legends #9: Shadows in the Sky */
#cardCH45TV {
    border-color: silver;
}


/***********************
 * Chapter 10: Mistika *
 ***********************/


#cardFG9EM8 {
    border-color: #8b8f84;
}


/* BIONICLE Legends #10: Swamp of Secrets */
#card3G8Z9M {
    border-color: whitesmoke;
}


/*******************************
 * Chapter 11: Mata Nui Rising *
 *******************************/


#cardZTL9M8 {
    border-color: #4d4443;
}


/**************************
 * Chapter 12: Bara Magna *
 **************************/


#card0NN5ZH {
    border-color: #cfbe9e;
}


/*****************
 * MULTI-CHAPTER *
 *****************/


/* BIONICLE Chronicles Collection */
#card54284C {
    border-color: #cf3e20;
}


/* BIONICLE #1: Rise of the Toa Nuva */
#cardABE5BC {
    border-color: #ed2226;
}


/* BIONICLE #2: Challenge of the Rahkshi */
#card39FB06 {
    border-color: #ed2226;
}


/*************
 * REFERENCE *
 *************/


/* BIONICLE.com */
#card8DC1BB {
    border-color: #383f27;
}


/* The Official Guide to BIONICLE */
#card7E0194 {
    border-color: silver;
}


/* BIONICLE: Metru Nui • City of Legends */
#card753869 {
    border-color: #2e54aa;
}


/* BIONICLE: Rahi Beasts */
#card943E43 {
    border-color: #d2562b;
}


/* BIONICLE: Dark Hunters */
#card320100 {
    border-color: darkgreen;
}


/* BIONICLE: World */
#cardCE2EF4 {
    border-color: #6b9490;
}


/* BIONICLE Encyclopedia Updated */
#card32C9EC {
    border-color: red;
}


/* Vakama (Reference Subject) */
#card74E1A3 {
    border-color: orangered;
}


/* Matau (Reference Subject) */
#cardA5DA2A {
    border-color: green;
}


button.contentsButton {
    border-left: none;
    border-right: none;
}