/* TO-DO: Combine into main.css */

@font-face {
    font-family: 'TradeMarker';
    src: url('../../fonts/TradeMarker-Bold.woff2') format('woff2'), url('../../fonts/TradeMarker-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Gill Sans Std';
    src: url('../../fonts/GillSansStd-Light.woff2') format('woff2'), url('../../fonts/GillSansStd-Light.woff') format('woff');
}

.contentsButton {
    margin: 1em auto;
    /* display: flex;
    flex-direction: row; */
    height: 96px;
    width: 95%;
    border-radius: 0.5em;
    padding: 0em;
    transition: all .2s ease-in-out;
}

.standaloneButton:focus,
.contentsButton:focus {
    outline: 0;
}

.standaloneButton:hover,
.contentsButton:hover {
    transform: scale(1.03125);
}

.standaloneButton:active,
.contentsButton:active {
    transform: scale(0.96875);
    background-color: var(--back2);
}

.contentsImg {
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-basis: 20%;
    overflow: hidden;
    position: relative;
}

.contentsImg img {
    height: 100%;
    width: unset;
    overflow: hidden;
    padding: 0em;
    position: absolute;
    border-radius: 0.5em 0em 0em 0.5em;
}

.contentsText {
    padding: 0.5em 1em;
    flex-basis: 80%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contentsText p {
    font-family: "Trademarker";
}

.contentsText p:last-of-type {
    font-family: "Gill Sans Std";
    padding-top: 0em;
    padding-bottom: 0em;
}

@media only screen and (max-width: 640px) {
    .contentsImg {
        flex-basis: 33.33%;
    }

    .contentsText{
        font-size: x-small;
    }
}

#card0J81JD {
    border-color: #AF4529;
    border-top: none;
    border-left: none;
}

#cardO927E6 {
    border-color: #21461A;
    border-top: none;
    border-left: none;
}

#card8QH3GV {
    border-color: #232523;
    border-top: none;
    border-left: none;
}

#cardR1J9VR {
    border-color: #264456;
    border-top: none;
    border-left: none;
}

#cardWV07MQ {
    border-color: #6C5B3B;
    border-top: none;
    border-left: none;
}

#cardR6LJE0 {
    border-color: #85A0B3;
    border-top: none;
    border-left: none;
}