main {
    width: 80%;
    max-width: 1280px;
}

main video {
    padding: 0em;
}

#homepageReadButton:disabled,
#homepageReadButton[disabled] {
    opacity: 50%;
    transition: none;
    cursor: default;
}

#homepageReadButton:disabled:hover {
    transform: none;
}

#homepageReadButton:disabled:active {
    transform: none;
    box-shadow: var(--outershadow);
}

.social a img {
    transition: all .2s ease-in-out;
}

.social a img:hover {
    transform: scale(1.25);
}

.social a img:active {
    transform: scale(0.975);
    opacity: 50%;
}

@media only screen and (max-width: 960px) {
    aside{
        /* REMOVE PREVIOUS SETTINGS */
        position: relative;
        z-index: auto;
        top: auto;
        right: auto;

        /* NEW SETTINGS */
        margin: auto 1em;
        /* Left and right sides don't QUITE line up with the main block... Whatever can be done about that...? */
        flex-direction: row;
        justify-content: center;
    }

    aside button{
        flex-grow: 1;
    }

    main {
        width: 95%;
    }
}