main {
    width: 80%;
    max-width: 1280px;
    display: block;
}

main video {
    padding: 0em;
}

.homepageReadButton:disabled,
.homepageReadButton[disabled] {
    opacity: 50%;
    transition: none;
    cursor: default;
}

.homepageReadButton:disabled:hover {
    transform: none;
}

.homepageReadButton:disabled:active {
    transform: none;
    box-shadow: var(--outershadow);
}

.social a img {
    transition: all .2s ease-in-out;
}

.social a img:hover {
    transform: scale(1.25);
    box-shadow: none;
}

.social a img:active {
    transform: scale(0.975);
    opacity: 50%;
    box-shadow: none;
}

@media only screen and (max-width: 960px) {
    aside{
        /* REMOVE PREVIOUS SETTINGS */
        position: fixed;
        z-index: 20;
        top: auto;
        
        right: auto;

        /* NEW SETTINGS */
        bottom: 0px;
        width: 100%;
        margin: 0em;
        /* Left and right sides don't QUITE line up with the main block... Whatever can be done about that...? */
        flex-direction: row;
        justify-content: space-between;
    }

    aside button {
        margin: 0em;
        width: 20%;
        border-radius: 0px;
        border-left: 0px;
        border-bottom: 0px;
        box-shadow: none;
    }

    aside button:last-of-type {
        border-right: 0px;
    }

    aside button:hover {
        transform: none;
        background-color: var(--back3);
    }

    aside button:active {
        transform: none;
        background-color: var(--back1);
    }
}