body{
    background-color: #000500;
}

header,
main{
    background-color: #000A00;
}

header{
    border-bottom: 1px solid green;
}

main{
    border: 1px solid green;
}

main button{
    border: 1px solid green;
}