:root {
    --back1: #080808;
    /* RGB08, drop shadow */
    --back2: #161616;
    /* RGB22, main background, button:active */
    --back3: #202020;
    /* RGB32, borders, button:hover, etc. */
    --border: #202020;
    --front1: #ffffff;
    /* RGB255, text */
    --front2: #cfcfcf;
    /* RGB207, a:hover */
    --front3: #9f9f9f;
    /* RGB159, a:active */
    --fontweight: normal;
    --outershadow: 5px 5px 10px var(--back1), -5px -5px 10px var(--back3);
    --innershadow: inset 5px 5px 10px var(--back1), inset -5px -5px 10px var(--back3);
}

:root.light {
    --front1: #080808;
    --front2: #161616;
    --front3: #202020;
    --border: #CBCCCF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;
    --fontweight: bold;
    --outershadow: 5px 5px 10px var(--back1), -5px -5px 10px var(--back3);
    --innershadow: inset 5px 5px 10px var(--back1), inset -5px -5px 10px var(--back3);
}

:root.smallest {
    --pfontsize: 0.75em;
}

:root.smaller {
    --pfontsize: 0.875em;
}

:root.small {
    --pfontsize: 1em;
}

:root {
    --pfontsize: 1.125em;
}

:root.big {
    --pfontsize: 1.25em;
}

:root.bigger {
    --pfontsize: 1.375em;
}

:root.biggest {
    --pfontsize: 1.5em;
}

* {
    padding: 0px;
    margin: 0px;
    transition: all .2s ease-in-out;
}

@font-face {
    font-family: 'TradeMarker';
    src: url('../../fonts/TradeMarker-Bold.woff2') format('woff2'), url('../../fonts/TradeMarker-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Gill Sans Std';
    src: url('../../fonts/GillSansStd-Light.woff2') format('woff2'), url('../../fonts/GillSansStd-Light.woff') format('woff');
}

body {
    background-color: var(--back2);
}

html,
body {
    min-height: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header,
main {
    position: relative;
    background: var(--back2);
    overflow: hidden;
    color: var(--front1);
    font-family: 'Gill Sans Std';
    font-style: normal;
    line-height: 1.5;
}

header {
    margin: 0.5em auto;
    width: 100%;
    background: none;
}

header p {
    text-align: center;
    margin: auto;
    padding: 0.5em;
    font-size: 1em;
}

header a {
    color: var(--front1);
    text-decoration: none;
}

header a:hover {
    color: var(--front2);
    text-decoration: none;
}

header a:active {
    color: var(--front3);
    text-decoration: none;
}

header a:visited {
    color: var(--front1);
    text-decoration: none;
}

main {
    margin: 1em auto;
    padding: 8px 0px;
    width: 90%;
    max-width: 640px;
    border: 1px solid var(--border);
    background: var(--back2);
    box-shadow: var(--outershadow);
    border-radius: 1em;
}

main h1,
h2,
h3 {
    text-align: center;
    padding: 0 8px;
    line-height: 1em;
    font-family: 'TradeMarker';
    font-weight: bold;
    color: var(--front1);
}


/* Why don't these work? */

main h2 a:hover {
    font-size: 1.01875em;
}

main h2 a:active {
    font-size: 0.98125em;
}

main h1 {
    font-size: 2.5em;
}

main h2 {
    font-size: 1.25em;
}

main h3 {
    font-size: 2em;
}

audio {
    width: 100%;
    max-width: 640px;
}

main p {
    margin-right: 0.25em;
    padding: 0.5em 0.5em;
    font-size: var(--pfontsize);
    text-align: justify;
    text-justify: inter-word;
}

ul {
    list-style: none;
    margin: 8px 8px;
}

#sortable li {
    margin: 4px;
    background-color: #3a3a3a;
    border-radius: 4px;
    padding: 0px 4px;
    display: flex;
}

#sortable li:hover {
    background-color: #262626;
}

label {
    display: inline-block;
    width: 100%;
    padding: 0px 8px;
    text-align: left;
    font-size: 1.25em;
    cursor: pointer;
}

label input {
    margin-right: 4px;
}

main a,
.modal-content a {
    color: var(--front1);
}

main a:hover,
.modal-content a:hover {
    color: var(--front2);
}

main a:active,
.modal-content a:active {
    color: var(--front3);
}

main a:visited,
.modal-content a:visited {
    color: var(--front1);
}

main img,
main video,
main iframe {
    margin: 0px 0px 0px 0px;
    width: 100%;
    padding: 8px 0px 8px 0px;
}


/*
main blockquote {
    margin: auto;
    width: auto;
    display: table;
}
*/

blockquote {
    margin: 1em;
    border: 1px solid var(--border);
    border-radius: 0.375em;
    box-shadow: var(--innershadow);
}

blockquote p {
    font-size: 1.25em;
}

blockquote p:nth-child(2) {
    padding-top: 0em;
    text-align: right;
}

.quotation:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    position: relative;
    top: 0.25em;
    color: #969696;
    font-size: 2em;
    padding-right: 0.125em;
}

.quotation:after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    position: relative;
    top: 0.25em;
    color: #969696;
    font-size: 2em;
    padding-left: 0.125em;
}

blockquote p:nth-child(3) {
    margin-top: -0.75em;
    padding-top: 0em;
    padding-right: 2.5em;
    font-family: monospace;
    font-size: 1em;
    text-align: right;
}

blockquote p a {
    text-decoration: none;
}

blockquote p a:hover {
    color: var(--front2);
    text-decoration: none;
}

blockquote p a:active {
    color: var(--front3);
    text-decoration: none;
}

blockquote p a:visited {
    color: var(--front1);
    text-decoration: none;
}

#indeximg {
    margin: 0px 0px -18px 0px;
}

.social {
    width: 33.33%;
    flex-direction: row;
    margin: auto;
    margin-bottom: 1em;
}

.social a {
    width: 24px;
    height: 24px;
}

.social img {
    width: 24px;
    height: 24px;
}

.slidecontrols,
.savefile,
.nav,
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

main button,
.modal-content button {
    font-family: 'Gill Sans Std';
    display: inline-block;
    margin: 0.5em 16px;
    border: none;
    border-radius: 16px;
    background: none;
    color: var(--front1);
    border-radius: 0.375em;
    background: var(--back2);
    border: 1px solid var(--border);
    box-shadow: var(--outershadow);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#submit {
    display: block;
    margin: 10px auto;
    width: 128px;
    height: 64px;
    font-size: 2em;
}

.slidecontrols,
.checkbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidecontrols button,
#slidelocationdiv,
.checkbuttons button {
    z-index: 1;
    margin: -8px 0px 0px 0px;
    border: none;
    border-radius: 0px;
    background-color: var(--back2);
    width: 33.33%;
    height: 32px;
    font-size: 1.25em;
    box-shadow: none;
}

.slidecontrols button {
    height: 34px;
    color: #fff;
    cursor: pointer;
    border-top: 1px solid var(--back3);
    border-bottom: 1px solid var(--back3);
}

#slidelocationdiv {
    line-height: 32px;
    text-align: center;
    border-top: 1px solid var(--back3);
    border-bottom: 1px solid var(--back3);
}

#slidelocation {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 1em;
    line-height: 0px;
    user-select: none;
}

.slidecontrols button:hover,
.checkbuttons button:hover {
    background-color: var(--back3);
}

.slidecontrols button:active,
.checkbuttons button:active {
    background-color: var(--back1);
}

.checkbuttons {
    flex-wrap: wrap;
}

.checkbuttons button {
    flex-basis: 25%;
    flex-wrap: wrap;
    margin-top: 0px;
    font-size: 0.875em;
}

.standaloneButton,
.savefile button {
    width: 128px;
    height: 32px;
    font-size: 1.25em;
}

.standaloneButton {
    width: 50%;
}

nav button,
.nav button {
    width: 128px;
    height: 64px;
    font-size: 2em;
}

.standaloneButton:hover,
.savefile button:hover,
nav button:hover,
.nav button:hover {
    transform: scale(1.0625);
}

.standaloneButton:active,
.savefile button:active,
nav button:active,
.nav button:active,
.contentsButton:active {
    transform: scale(0.9375);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0), -5px -5px 10px rgba(0, 0, 0, 0), var(--innershadow);
}

.standaloneButton:focus,
.savefile button:focus,
nav button:focus,
.nav button:focus {
    outline: 0;
}

.modalbtn {
    cursor: pointer;
    font-weight: bold;
}

main hr,
.maintext hr,
.modalcontent hr {
    margin-left: 0em;
    margin-right: 0em;
    border: 0px;
    border-top: 1px solid var(--border);
}

main hr,
.maintext hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.closediv {
    position: absolute;
    top: 8px;
    right: 8px;
}

.close {
    text-align: center;
    color: var(--front1);
    font-size: 2em;
    font-weight: bold;
    padding: 8px;
}

.close:hover {
    color: var(--front2);
    text-decoration: none;
    cursor: pointer;
}

.close:active {
    color: var(--front3);
    text-decoration: none;
    cursor: pointer;
}

main h2 a {
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#submit {
    border-radius: 0.25em 0em 0.25em 0em;
}

.contentsButton {
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    height: 96px;
    width: 95%;
    border-radius: 0.5em;
    padding: 0em;
    transition: all .2s ease-in-out;
}

.standaloneButton:focus,
.contentsButton:focus {
    outline: 0;
}

.standaloneButton:hover,
.contentsButton:hover {
    transform: scale(1.03125);
}

.standaloneButton:active,
.contentsButton:active {
    transform: scale(0.96875);
    background-color: var(--back2);
}

.contentsImg {
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-basis: 20%;
    overflow: hidden;
    position: relative;
}

.contentsImg img {
    height: 100%;
    width: unset;
    overflow: hidden;
    padding: 0em;
    position: absolute;
    border-radius: 0.5em 0em 0em 0.5em;
}

.contentsText {
    padding: 0.5em 1em;
    flex-basis: 80%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contentsText p {
    font-family: "Trademarker";
}

.contentsText p:last-of-type {
    font-family: "Gill Sans Std";
    padding-top: 0em;
    padding-bottom: 0em;
}

@media only screen and (max-width: 640px) {
    header img {
        max-width: 90%;
        height: auto;
    }
    main,
    .maintext {
        margin: 8px auto;
        width: 95%;
        padding: 0px;
    }
    main h1,
    .modalcontent h1,
    .maintext h1 {
        font-size: 1.25em;
    }
    main h2,
    .modalcontent h2,
    .maintext h2 {
        font-size: 0.75em;
    }
    main h3,
    .modalcontent h3,
    .maintext h3 {
        font-size: var(--pfontsize);
    }
    main p,
    header p,
    .modalcontent p,
    .maintext p {
        font-size: var(--pfontsize);
    }
    .social {
        width: 99.99%;
    }
    .social a {
        width: 18px;
        height: 18px;
    }
    .social img {
        width: 18px;
        height: 18px;
    }
    .savefile button {
        width: 128px;
        height: 32px;
        font-size: 1em;
    }
    .nav button {
        width: 128px;
        height: 32px;
        font-size: 1em;
    }
}

#gearbtndiv {
    position: absolute;
    top: 8px;
    right: 8px;
}

#gearbtn {
    text-align: center;
    color: var(--front1);
    font-size: 2em;
    font-weight: bold;
    padding: 8px;
}

#gearbtn:hover {
    color: var(--front2);
    text-decoration: none;
    cursor: pointer;
}

#gearbtn:active {
    color: var(--front3);
    text-decoration: none;
    cursor: pointer;
}

.contents p {
    text-align: center;
    padding: 0em 0.5em;
    line-height: 1.25em;
}

.anchors {
    display: flex;
    flex-direction: row;
}

.anchor,
.anchor:visited {
    padding: 0.5em;
    flex-basis: 1.25%;
    color: var(--front3);
    font-weight: bold;
    text-decoration: none;
    font-size: var(--pfontsize);
}

.anchors p {
    flex-basis: 98.75;
}

.anchors:target p {
    background-color: var(--back3);
    border-radius: 0.125em;
}

fieldset {
    margin: 1em 0.5em;
    border: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

fieldset label {
    margin-top: 0.5em;
    margin-bottom: 1em;
    flex-basis: 20%;
}

fieldset select {
    flex-basis: 75%;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border: 1px solid var(--border);
    background: var(--back2);
    box-shadow: var(--outershadow);
    border-radius: 1em;
    color: var(--front1);
    /* NEWER STUFF */
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    width: 100%;
}

main p a {
    font-weight: 600;
}