.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: all 0.375s ease-in-out;
}

.modal-content-left {
    position: fixed;
    margin-left: -200px;
    top: 2.5%;
    left: 0;
    width: 200px;
    height: 95%;
    z-index: 0;
    background-color: var(--back2);
    border: 1px solid var(--border);
    border-left: 0px;
    border-radius: 0px 1em 1em 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    overflow-x: hidden;
    transition: all 0.375s ease-in-out;
}

.modal-visible {
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
}

.modal-content-left-visible {
    z-index: 9;
    margin-left: 0px;
    width: 300px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
}

.modal-content-right {
    position: fixed;
    margin-right: -200px;
    top: 2.5%;
    right: 0;
    width: 200px;
    height: 95%;
    z-index: 0;
    background-color: var(--back2);
    border: 1px solid var(--border);
    border-right: 0px;
    border-radius: 1em 0px 0px 1em;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    overflow-x: hidden;
    transition: all 0.375s ease-in-out;
}

.modal-content-right-visible {
    z-index: 9;
    margin-right: 0px;
    width: 300px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
}

.modal-content-center {
    position: fixed;
    top: 100%;
    left: 37.5%;
    width: 25%;
    right: 37.5%;

    left: calc(50% - 320px);
    width: 640px;
    right: calc(50% - 320px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -90%;
    height: 90%;
    z-index: 0;
    background-color: var(--back2);
    border: 1px solid var(--border);
    border-radius: 1em;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all 0.375s ease-in-out;
    overflow: visible;
    /* This is still causing problems, most noticeable on mobile.
    Make a JavaScript promise thing so *ALL* the content is loaded before the transition even starts. */
    /* Horizontal scroll bar is still showing up on occasion. */
}

@media only screen and (max-width: 680px) {
    .modal-content-center {
        left: 5%;
        width: 90%;
        right: 5%;
    }

    .modal-content-center .close {
        right: unset;
        left: 0px;
    }
}

.modal-content-center-visible {
    z-index: 9;
    top: 5%;
    height: 90%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
    overflow-y: auto;
}


/* OLD STUFF */

.modal-content img,
.modal-data img {
    width: 100%;
    max-width: 640px;
}

.modal-content h1,
.modal-content h2,
.modal-data h1,
.modal-data h2 {
    text-align: center;
    padding: 8px 8px;
    line-height: 1.25em;
    font-family: 'TradeMarker';
    font-weight: bold;
    color: var(--front1);
}

.modal-content h1,
.modal-data h1 {
    padding-bottom: 0px;
}

.modal-content p,
.modal-data p,
.modal-data ul,
.modal-data li {
    margin: 0.5em 1em;
    position: relative;
    overflow: hidden;
    color: var(--front2);
    font-family: 'Gill Sans Std';
    font-style: normal;
    line-height: 1.5em;
    font-size: 1em;
    letter-spacing: .125rem;
    color: var(--front1);
}

.modal-content a,
.modal-content a:visited {
    display: inline-block;
    transition: all .15s ease-in-out;
    color: var(--front2);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1875em;
    transition: 0.25s;
    padding: 0.5em;
}

.modal-content a:hover {
    color: var(--front1);
    font-size: 1.03125em;
    cursor: pointer;
    line-height: 1.5em;
}

.modal-content a:active {
    color: var(--front3);
    font-size: 0.96875em;
    cursor: pointer;
    line-height: 1.5em;
}

.modal-content ul,
.modal-content li {
    font-family: 'Gill Sans Std';
    font-size: 0.9375em;
    color: var(--front1);
    list-style: inside circle;
}

.modal-content ul {
    margin: 1em;
    margin-top: -0.5em;
}

.modal-content li {
    margin: 0.25em 1em;
}

.modal-content .source {
    text-align: center;
    font-size: 0.875em;
}

.modal-content-right p {
    text-align: right;
}

.modal-content {
    display: flex;
    flex-flow: column nowrap;
}

#modal-data {
    height: 100%;
    width: 100%;
}

#modal-data img.slideshow {
    position: relative;
    width: auto;
    margin-top: -1em;
    overflow: visible;
    z-index: 25;
    border-radius: 0.25em;
    transition: all .2s ease-in-out;
}

#modal-data img.slideshow:hover {
    transform: scale(1.03125);
    cursor: pointer;
    box-shadow: var(--outershadow);
}

#modal-data img.slideshow:active {
    transform: scale(0.96875);
    filter: brightness(87.5%);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.modal-content {
    overflow: visible;
}

.modal-content .slidecontrols {
    height: 34px;
}

.modal-text {
    margin-top: 0.5em;
    overflow: scroll;
    max-height: calc(57.75% - 1em);
}

.modal-text section {
    position: relative;
}

#modal-data .hideShow:hover {
    transform: scale(1.015625);
}

#modal-data .hideShow:active {
    transform: scale(0.984375);
}

#modal-data .hideShow {
    margin: 0.5em auto;
    border: none;
    padding: 0em 1em;
    height: 1.5em;
}

.modal-content {
    padding-top: 1em;
}

#modal-data {
    position: absolute;
    top: 0px;
}

#modal-data img.slideshow {
    position: relative;
    width: auto;
    margin-top: -1em;
    overflow: visible;
    z-index: 25;
}

.modal-content {
    overflow: visible;
}

#modal-data {
    overflow: visible;
}

#modal-data button.disambigButton {
    height: 4em;
}