.modal {
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease-in-out;
}

.modal-content-left {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: red;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    padding-top: 60px;
}

.modal-content-left-visible {
    width: 250px;
    transition: all 0.5s ease-in-out;
}