#sortable li a{
    width: 100%;
    text-align: center;
    font-size: medium;
}

#navigationButton,
#settingsButton{
    top: 1em;
    position: absolute;
    z-index: 1;
}

#navigationButton{
    left: 1em;
}

#settingsButton{
    right: 1em;
}