section.story {
    overflow: hidden;
}


section.story p.pronunciation {
    margin: 1em 1.5em 0em 1.5em;
    font-weight: bolder;
}


section.story img:hover {
    box-shadow: none;
}


/*
 * ARTICLE MEDIA PLAYER STYLES
 */


section.story div.mediaplayer {
    margin: 0.5em;
    max-width: 320px;
    max-height: 320px;
    float: right;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


section.story div.mediaplayer div.mediaplayercontents img,
section.story div.mediaplayer div.mediaplayercontents video {
    max-width: 320px;
    max-height: 320px;
    padding: 0em;
}


/*
 * END ARTICLE MEDIA PLAYER STYLES
 */