section.story {
    overflow: hidden;
}


section.story p.pronunciation,
section.story p.domain {
    text-align: center;
    font-weight: bolder;
}


section.story img:hover {
    box-shadow: none;
}


section.titleBox {
    display: flex;
    flex-flow: row nowrap;
}


section.titleBox div.mediaplayer div.mediaplayercontents img {
    margin: 0em;
}


section.story section.titleBox div.mediaplayer div.mediaplayercontents {
    height: 240px;
    width: 320px;
}


section.story section.titleBox div.mediaplayer div.mediaplayercontents img,
section.story section.titleBox div.mediaplayer div.mediaplayercontents video {
    height: 100%;
}


section.story section.titleBox div.mediaplayer {
    margin: -.5em;
}


div.titleBoxText {
    margin: auto 0em;
}


.anchors p,
.anchors ul {
    margin: 0.5em;
}


.anchors ul {
    margin-left: 1em;
}


p a:hover,
p a:active,
p a span:hover,
p a span:active {
    color: var(--front1);
}


/*
 * ARTICLE MEDIA PLAYER STYLES
 */


section.story div.mediaplayer {
    margin: 0.5em;
    max-width: 320px;
    max-height: 320px;
    float: right;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


section.story div.mediaplayer div.mediaplayercontents img,
section.story div.mediaplayer div.mediaplayercontents video {
    max-width: 320px;
    max-height: 320px;
    padding: 0em;
}


/*
 * END ARTICLE MEDIA PLAYER STYLES
 */


@media only screen and (max-width: 640px) {
    section.story section.titleBox div.mediaplayer {
        display: none;
    }


    section.story div.mediaplayer {
        float: none;
        margin: 0.5em auto;
    }
}