body{
    background-color: #100000;
}

main,
#navigationButton,
#settingsButton,
#downloadButton{
    background-color: #200000;
}

main,
body button,
#navigationButton,
#settingsButton,
#downloadButton{
    box-shadow: 0 0 4px orangered;
}