body{
    background-color: #050000;
}

header,
main{
    background-color: #0A0000;
}

header{
    border-bottom: 1px solid red;
}

main{
    border: 1px solid red;
}

main button{
    border: 1px solid red;
}