#mains,
#mains main {
    overflow: visible;
}

#children {
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.padding {
    margin: 1.5em 0em;
    min-height: 120px;
    width: 33.33%;
    align-content: center;
}

.noImg {
    height: 100px;
}

.contentsButton::before {
    backdrop-filter: blur(10px);
}

.contentsButton {
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.contentsButton img {
    margin-top: -1em;
    margin-left: -1em;
    border-radius: 0.375em;
    padding: 0em;
    float: left;
    display: block;
    height: 100%;
    max-height: 144px;
    width: auto;
    max-width: 108px;
    object-fit: cover;
    border: none;
}

.contentButtonText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    margin: auto 0.5em;
    margin-right: 0em;
    padding: 0.25em;
}

.contentButtonText p {
    padding: 0em;
}

.contentsButton p {
    margin: 0px;
    width: 100%;
    max-width: 100%;
    text-align: left;
    font-size: 1.0625em;
}

.contentsButton p:first-of-type {
    font-family: "Trademarker";
    font-size: 1.25em;
}

.contentsButton:active {
    box-shadow: var(--smalloutershadow);
}

#cardXCF8IZ {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/XCF8IZ.png") center;
    background-size: cover;
    border-color: #5b757c;
    border-left: none;
    border-right: none;
}

#cardQ2N8NX {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/Q2N8NX.png") center;
    background-size: cover;
    border-color: #5a5833;
    border-left: none;
    border-right: none;
}

#cardJBTY4O {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/JBTY4O.png") center;
    background-size: cover;
    border-color: #57453e;
    border-left: none;
    border-right: none;
}

#cardECOHYW {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/ECOHYW.png") center;
    background-size: cover;
    border-color: #3a2f1d;
    border-left: none;
    border-right: none;
}

#cardLHIBBZ {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/LHIBBZ.png") center;
    background-size: cover;
    border-color: #878889;
    border-left: none;
    border-right: none;
}

#cardUELI6L {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/UELI6L.png") center;
    background-size: cover;
    border-color: #707d4e;
    border-left: none;
    border-right: none;
}

#card08H6CX {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/08H6CX.png") center;
    background-size: cover;
    border-color: #957264;
    border-left: none;
    border-right: none;
}

#card7M5DDC {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/7M5DDC.png") center;
    background-size: cover;
    border-color: #547288;
    border-left: none;
    border-right: none;
}

#cardCU4QW2 {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/CU4QW2.png") center;
    background-size: cover;
    border-color: #69827a;
    border-left: none;
    border-right: none;
}

#cardFG9EM8 {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/FG9EM8.png") center;
    background-size: cover;
    border-color: #8b8f84;
    border-left: none;
    border-right: none;
}

#cardZTL9M8 {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/ZTL9M8.png") center;
    background-size: cover;
    border-color: #4d4443;
    border-left: none;
    border-right: none;
}

#card0NN5ZH {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/0NN5ZH.png") center;
    background-size: cover;
    border-color: #cfbe9e;
    border-left: none;
    border-right: none;
}

#cardGNO2P6,
#card89L0VB,
#card685M4D,
#card5LTDQZ,
#cardXJDC9U,
#card0J81JD,
#cardKQRMXG {
    border-left: none;
    border-right: none;
}

#cardGNO2P6 {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/test/bc1.png") center;
    border-color: #ff0401;
}

#card0J81JD {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/0J81JD.png") center;
    border-color: #93001c;
}

#card89L0VB {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/test/bc2.png") center;
    border-color: #6e92ce;
}

#card685M4D {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/test/bc3.png") center;
    border-color: #448d30;
}

#card5LTDQZ {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/test/BC4_-_Tales_of_the_Masks.png") center;
    border-color: #ff990b;
}

#cardXJDC9U {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/test/MoL.png") center;
    border-color: goldenrod;
}

#cardKQRMXG {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/KQRMXG.png") center;
    background-size: contain;
    border-color: #b6cdd2;
}

/* TAGS FOR CONTENT CARDS */
.tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.tags p,
.tags p:first-of-type {
    margin: 0.125em;
    padding: 0.125em 0.25em;
    width: auto;
    border-radius: 0.25em;
    background-color: darkgray;
    font-family: "Gill Sans Std";
    font-size: 0.9375em;
    color: #010203;
}

.versions p,
.versions p:first-of-type {
    font-family: "Gill Sans Std";
    color: darkgray;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.875em;
    letter-spacing: 0.125em;
}


/* TIMELINE TEST */
#mains main ul {
    list-style-type: disc;
    list-style-position: inside;
}

.red {
    margin: 0em;
    margin-bottom: -0.5em;
    padding: 0em;
    text-align: center;
    text-transform: uppercase;
    color: red;
    font-size: x-large;
    font-weight: 900;
}

.redstroke {
    -webkit-text-stroke: 1px red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.titleBox {
    padding: 1em;
    height: auto;
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    /*
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/O927E6.png") center;
    */
    background-size: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

main section:only-child {
    border-bottom: none;
}

.titleBoxText {
    width: 100%;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleBoxText h1,
.titleBoxText h2,
.titleBoxText h3 {
    letter-spacing: 0.25em;
}

.titleBox img {
    overflow: visible;
    margin-top: -1.5em;
    margin-left: -1.5em;
    padding: 0em;
    float: left;
    /*
    height: 100%;
    max-height: 144px;
    width: auto;
    */
    max-width: 33.33%;
    height: auto;
    border-radius: 0.375em;
}

.multiparents button {
    background: none;
}

/* Side images don't really fit on mobile, so we make the background image more prominent. */
@media only screen and (max-width: 960px) {
    /*
    .titleBox {
        background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.75)), url("/img/story/contents/O927E6.png") center 25%;
    }
    */

    .titleBox img {
        display: none;
    }
}

#mains {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

main {
    margin: auto;
    max-width: 960px;
    align-self: center;
}

#children {
    margin: 0em;
    max-width: 1280px;
}

.imginfobox {
    position: absolute !important;
    z-index: 15;
    bottom: 10%;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.125);
    border: 1px solid rgba(255, 255, 255, 0.375);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.imginfobox:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.imginfobox:active {
    background-color: rgba(255, 255, 255, 0.375);
}