@font-face {
    font-family: 'TradeMarker';
    src: url('/fonts/TradeMarker-Bold.woff2') format('woff2'), url('/fonts/TradeMarker-Bold.woff') format('woff');
    font-weight: bold;
}


@font-face {
    font-family: 'Gill Sans Std';
    src: url('/fonts/GillSansStd-Light.woff2') format('woff2'), url('/fonts/GillSansStd-Light.woff') format('woff');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #003d5c;
}

body {
    margin: 1rem auto;
    max-width: 50%;
}

body img {
    width: 100%;
    height: auto;
    user-select: none;
}

body h1,
body h2,
body h3,
body ul,
body li {
    color: #fff;
    letter-spacing: .125rem;
}

body h1,
body h2,
body h3 {
    font-family: 'TradeMarker', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

body h1 {
    font-size: 3rem;
}

body h2 {
    font-size: 2rem;
}

body h3 {
    font-size: 1.5rem;
}

body ul,
body li {
    font-family: 'Gill Sans Std', sans-serif;
    font-size: 1.125rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}

body h1 a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        max-width: 90%;
    }
}