section.main__content {
    overflow: hidden;

    section.title__box {
        display: flex;
        flex-flow: row nowrap;

        .title__box__text {
            margin: auto 0em;
        }
    }

    p.pronunciation,
    p.domain {
        text-align: center;
        font-weight: bolder;
    }

    img:hover {
        box-shadow: none;
    }

    section.title__box div.mediaplayer {
        margin: -0.5em;

        div.mediaplayercontents {
            height: 240px;
            width: 320px;

            img,
            video {
                height: 100%;
                max-width: 320px;
                max-height: 320px;
                padding: 0em;
            }

            img {
                margin: 0em;
            }
        }
    }

    div.mediaplayer {
        margin: 0.5em;
        max-width: 320px;
        max-height: 320px;
        float: right;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .anchors {
        p,
        ul {
            margin: 0.5em;
        }

        ul {
            margin-left: 1em;
        }
    }

    p {
        a {
            &:hover,
            &:active,
            span:hover,
            span:active {
                color: var(--front1);
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    section.story section.title__box div.mediaplayer {
        display: none;
    }

    section.story div.mediaplayer {
        float: none;
        margin: 0.5em auto;
    }
}
