/* The colors used here are the blue background color from the Bohrok-Kal-themed BIONICLE logo, mixed with the default colors for Wall of History. */
:root {
    --back1: #040813;
    /* RGB08, drop shadow */
    --back2: #0B0F1A;
    /* RGB22, main background, button:active */
    --back3: #10141F;
    /* RGB32, borders, button:hover, etc. */
    --border: #10141F;
    --back4: #181C27;
    --front1: #ffffff;
    /* RGB255, text */
    --front2: #cfcfcf;
    /* RGB207, a:hover */
    --front3: #9f9f9f;
    /* RGB159, a:active */
    --fontweight: normal;
}

:root.light {
    --front1: #040813;
    --front2: #0B0F1A;
    --front3: #10141F;
    --border: #CBCCCF;
    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;
    --fontweight: bold;
}