main {
    width: 90%;
    max-width: 960px;
}

section.titleBox img {
    display: none;
}

div.titleBoxText {
    padding: 0em;
}

section.story img.slideshow {
    width: 100%;
    padding: 0em;
}

section.story img.slideshow:hover,
section.story img.slideshow:active {
    transform: none;
}

.story img:hover {
    filter: brightness(1.0625);
    box-shadow: none;
}

@media only screen and (max-width: 640px) {
    main {
        width: 100%;
    }
}