section.titleBox img {
    display: none;
}


/*
section.story div.mediaplayer div.mediaplayercontents img {
    width: 100%;
    border-radius: 0em;
    padding: 0em;
}


section.story div.mediaplayer div.mediaplayercontrols {
    margin: 0.5em;
}


section.story div.mediaplayer div.mediaplayercontents img:hover,
section.story div.mediaplayer div.mediaplayercontents img:active {
    transform: none;
    box-shadow: none;
}

.story img:hover {
    filter: brightness(1.0625);
    box-shadow: none;
}
*/