main {
    background: none;
    border: none;
    box-shadow: none;
    /* Temporary, for testing Flash stuff. */
    min-width: 1080px;
}

body main .pages {
    display: block;
    background-color: var(--back2);
    border: 1px solid var(--border);
    border-radius: 0.125em;
    margin: 1em auto;
    padding-bottom: 1.5em;
}

.pages .page {
    width: 48px;
    position: absolute;
    top: unset;
    bottom: 0px;
    left: calc(50% - 24px);
}

body main .pages .page {
    font-size: 0.9375em;
    padding: 0.25em;
}

body main .pages p {
    display: inline;
}
