main {
    min-width: 840px;
}

main article {
    /* width: calc(95% - 240px); */
    max-width: none;
}

main article section.story {
    max-width: none;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}

main h2:last-of-type {
    margin-bottom: 0.5em;
}

#warning {
    display: none;
}

@media only screen and (max-width: 640px) {
    main {
        min-width: 0px;
        width: 95%;
    }
    
    main object,
    #controls{
        display: none;
    }

    #warning{
        display: block;
    }

    div.progressBarContainer {
        display: none;
    }
}