main .titleBox {
    background: var(--back2);
    border: 1px solid var(--border);
    box-shadow: var(--outershadow);
}

body main section.pages {
    background: none;
    border: none;
    box-shadow: none;
    position: relative;
}


span.pages:first-of-type {
    margin-top: 0.5em;
}


span.pages {
    margin-top: 0.25em;
}

span.pages .page {
    display: block;
    margin: 0em;
    width: 48px;
    position: relative;
    top: unset;
    bottom: 0px;
    left: calc(50% - 24px);
}

body main section.pages span.pages p.page {
    font-size: 0.9375em;
    padding: 0em;
}

body main .pages p {
    display: inline;
}


section.story section.titleBox {
    background-color: rgba(22, 22, 22, .5);
    backdrop-filter: blur(16px);
    
    border-left: none;
    border-right: none;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
}


body main section.story span.pages {
    display: block;
    background-color: rgba(22, 22, 22, .5);
    backdrop-filter: blur(16px);

    border: 1px solid var(--border);
    border-left: none;
    border-right: none;
    border-radius: 0.25em;

    box-shadow: var(--outershadow);
}


section.structure nav {
    width: 100%;
}
