* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


body {
    background: #0f0f0f;
    color: #fff;
}


header {
    display: flex;
    flex-flow: row nowrap;
    // justify-content: flex-start;
    // width: 100%;
    // margin: .5rem auto;

    #start {
        width: 33.33%;

        img {
            margin: calc(1rem - 10px) 2rem;
            max-height: 1.25rem;
        }
    }

    #center {
        width: 33.33%;

        form {
            height: 2.5rem;
            display: flex;
            flex-flow: row nowrap;

            input {
                border: 1px solid rgb(48, 48, 48);
                border-radius: 1.25rem 0rem 0rem 1.25rem;
                height: 2.5rem;
                width: calc(100% - 4rem);
                background-color: rgba(0,0,0,0);
                padding-left: 1rem;
        
                color: #fff;
                letter-spacing: .0625rem;
                font-size: 1rem;

                &:focus {
                    outline: none;
                    border: 1px solid #1c62b9;
                }
            }

            button {
                background-color: rgb(48, 48, 48);
                border-radius: 0rem 1.25rem 1.25rem 0rem;
                min-height: 2.5rem;
                max-height: 100%;
                width: 4rem;
                border: 1px solid rgb(48, 48, 48);
                cursor: pointer;
                padding: auto;

                i {
                    color: white;
                    min-height: 1rem;
                    min-width: 1rem;
                }
            }
        }
    }
}


article {
    margin: auto;

    .article__content {
        display: grid;
        grid-template-areas:
        "video"
        "title__box"
        "extra__content";

        section.main__content {
            grid-area: video;

            video {
                width: 100%;
                background-color: black;
            }
        }

        section.title__box {
            grid-area: title__box;
            margin: .5rem auto;
            width: 75vw;

            h1 {
                font-size: 1.25rem;
            }

            h2 {
                font-size: 1rem;
                font-weight: normal;
            }
        }

        section.extra__content {
            grid-area: extra__content;
            margin: .5rem auto;
            width: 75vw;

            background-color: rgba(255, 255, 255, 0.1);
            border-radius: .75rem;
            padding: .5rem .625rem;

            span.detail {
                width: 25%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                gap: 1rem;
            }

            p {
                margin: .125rem 0rem;
                font-weight: lighter;
            }
        }
    }
}