/*
:root {
    --back1: #310009;
    
    --border: #93001C;
}

:root.light {
    --front1: #310009;
    --front2: #620013;
    --front3: #93001C;

    --border: #AF6676;

    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;
}
*/

:root {
    --back1: rgb(8, 0, 0);
    --back2: rgb(24, 0, 0);
    --back3: rgb(32, 0, 0);
    --border: rgb(48, 0, 0);
}

body {
    background: url("/img/bgl.png") left no-repeat,
        url("/img/bgr.png") right no-repeat,
        linear-gradient(180deg, var(--back2) 0%, var(--back2) 50%, #620013 100%);
    background-size: clamp(180px, 40%, 808px) auto;
    background-attachment: fixed;
}


main article section.story,
main aside {
    border-right: 0px;
    border-left: 0px;
}


@media only screen and (max-width: 720px) {
    .titleBox {
        background: linear-gradient(90deg, var(--back2), rgba(24, 0, 0, 0.75)), url("/img/story/contents/0J81JD.png") 50% 25%;
    }
}
