/*
:root {
    --back1: #310009;
    
    --border: #93001C;
}

:root.light {
    --front1: #310009;
    --front2: #620013;
    --front3: #93001C;

    --border: #AF6676;

    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;
}
*/

body {
    background: url("/img/bgl.png") left no-repeat,
        url("/img/bgr.png") right no-repeat,
        linear-gradient(180deg, var(--back2) 0%, var(--back2) 50%, #620013 100%);
    background-size: clamp(180px, 40%, 808px) auto;
    background-attachment: fixed;
    padding-bottom: 4em;
}