/*
:root {
    --back1: #310009;
    
    --border: #93001C;
}

:root.light {
    --front1: #310009;
    --front2: #620013;
    --front3: #93001C;

    --border: #AF6676;

    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;
}
*/

:root {
    --back1: rgb(8, 0, 0);
    --back2: rgb(24, 0, 0);
    --back2clear: rgba(24, 0, 0, .75);
    --back2clearer: rgba(24, 0, 0, .5);
    --back3: rgb(32, 0, 0);
    --border: rgb(48, 0, 0);
}


body {
    background: linear-gradient(0deg, var(--back2clear) 0%, var(--back2clearer) 100%), url("/img/test/tahu.webp");
    background-size: cover;
    background-attachment: fixed;
}


main article section.story {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: none;
}


main article section.story section.titleBox,
main article section.story span.pages {
    border-right: 0px;
    border-left: 0px;
    background-color: var(--back2clear);
    backdrop-filter: blur(16px);
}


section.story section.titleBox img {
    display: none;
}


aside fieldset {
    background-color: rgba(0, 0, 0, 0);
}


@media only screen and (max-width: 720px) {
    .titleBox {
        background: linear-gradient(90deg, var(--back2), rgba(24, 0, 0, 0.75)), url("/img/story/contents/0J81JD.png") 50% 25%;
    }
}
