:root {
    --back2: rgba(37, 18, 9, 0.875);
    --back2clear: rgba(37, 18, 9, 0.75);
    --back3: rgba(37, 18, 9, 0.5);
    --border: rgba(37, 18, 9, 0.9375);
}


body {
    background-image: linear-gradient(180deg, rgba(37, 18, 9, 0.5) 0%, #251209 100%),
        url("/img/test/IS09\ SAND\ WALL.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.contentsButton {
    border-color: #d5b278;
}


@media only screen and (max-width: 720px) {
    :root {
        --back2: rgb(37, 18, 9);
        --back3: rgb(49, 24, 12);
        --border: rgb(49, 24, 12);
    }
}