body,
.maintext::before {
    background: #011B35;
    background: linear-gradient(180deg, rgba(1, 27, 53, 1) 0%, rgba(1, 27, 53, 1) 80%, rgba(1, 2, 3, 1) 100%);
}

header::before {
    background: #003366;
}

header a:hover {
    color: #ccd6e0;
}

header a:active {
    color: #99adc1;
}

main,
main button,
#navigationButton,
#settingsButton {
    background-color: #011B35;
    border-color: #011f3d;
    box-shadow: 5px 5px 10px #011122, -5px -5px 10px #022549;
}


/* Fix the shadow transition. */

main button:active,
.save button:active,
.nav button:active,
#navigationButton:active,
#settingsButton:active {
    background-color: #011B35;
    border-color: #011f3d;
    box-shadow: inset 5px 5px 10px #011122, inset -5px -5px 10px #022549;
}

.standaloneButton:hover,
.savefile button:hover,
nav button:hover,
.nav button:hover,
#navigationButton:hover,
#settingsButton:hover,
#downloadButton:hover,
#paletteSwapButton:hover {
    transform: scale(1.0625);
}

.standaloneButton:active,
.savefile button:active,
nav button:active,
.nav button:active,
#navigationButton:active,
#settingsButton:active,
#downloadButton:active,
#paletteSwapButton:active {
    transform: scale(0.9375);
    box-shadow: 5px 5px 10px #01112200, -5px -5px 10px #02254900, inset 5px 5px 10px #011122, inset -5px -5px 10px #022549;
}

hr {
    border-color: #011f3d;
}

blockquote {
    box-shadow: inset 5px 5px 10px #011122, inset -5px -5px 10px #022549;
    border-color: #011f3d;
}

.maintext a:hover {
    color: #ccd6e0;
}

.maintext a:active {
    color: #99adc1;
}

audio {
    background-color: #003366;
}

.slidecontrols button,
#slidelocationdiv {
    background-color: #335b84;
}

.slidecontrols button:hover {
    background-color: #99adc1;
}

.slidecontrols button:active {
    background-color: #6684a3;
}

.modalcontent {
    background: linear-gradient(0deg, #010203 0%, #003366 100%);
}

.close:hover {
    color: #ccd6e0;
}

.close:active {
    color: #99adc1;
}