body,
.maintext::before {
    background: linear-gradient(0deg, #010203 0%, #003366 100%);
}

header::before {
    background: #003366;
}

header a:hover {
    color: #ccd6e0;
}

header a:active {
    color: #99adc1;
}

.maintext a:hover {
    color: #ccd6e0;
}

.maintext a:active {
    color: #99adc1;
}

audio {
    background-color: #003366;
}

.slidecontrols button,
#slidelocationdiv {
    background-color: #335b84;
}

.slidecontrols button:hover {
    background-color: #99adc1;
}

.slidecontrols button:active {
    background-color: #6684a3;
}

.modalcontent {
    background: linear-gradient(0deg, #010203 0%, #003366 100%);
}

.close:hover {
    color: #ccd6e0;
}

.close:active {
    color: #99adc1;
}