:root {
    --back1: #060604;

    --border: #13130D;

    --outershadow: 3px 3px 6px rgba(0, 0, 0, 0.5), -3px -3px 6px rgba(0, 0, 0, 0.25);
    --innershadow: inset 3px 3px 6px rgba(0, 0, 0, 0.5), inset -3px -3px 6px rgba(0, 0, 0, 0.25);
}

:root.light {
    --front1: #060604;
    --front2: #0C0D09;
    --front3: #13130D;

    --border: #6F706E;

    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;

    --outershadow: 3px 3px 6px rgba(0, 0, 0, 0.5), -3px -3px 6px rgba(0, 0, 0, 0.25);
    --innershadow: inset 3px 3px 6px rgba(0, 0, 0, 0.5), inset -3px -3px 6px rgba(0, 0, 0, 0.25);
}

body{
    background: var(--back2);
    background: linear-gradient(180deg, var(--back2) 0%, var(--back2) 50%, #0C0D09 100%);
}