:root {
    --back1: #060604;

    --border: #13130D;
}

:root.light {
    --front1: #060604;
    --front2: #0C0D09;
    --front3: #13130D;

    --border: #6F706E;

    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;
}

body {
    background: url("/img/bgl.png") left no-repeat,
        url("/img/bgr.png") right no-repeat,
        linear-gradient(180deg, var(--back2) 0%, var(--back2) 50%, #0C0D09 100%);
    background-size: clamp(180px, 40%, 808px) auto;
    background-attachment: fixed;
    padding-bottom: 4em;
}