body{
    background-color: #00040F;
}

header,
main{
    background-color: #00071e;
}

header a:hover{
    color: #cccdd2;
}

header a:active{
    color: #999ba5;
}

.maintext a:hover{
    color: #cccdd2;
}

.maintext a:active{
    color: #999ba5;
}

.slidecontrols button,
#slidelocationdiv{
    background-color: #33384b;
}

.slidecontrols button:hover {
    background-color: #999ba5;
}

.slidecontrols button:active {
    background-color: #666a78;
}

.modalcontent{
    background: linear-gradient(45deg, #010203 0%, #00071e 100%);
}

.close:hover{
    color: #cccdd2;
}

.close:active{
    color: #999ba5;
}