* {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all .2s ease-in-out;
}

:root {
    --back1: #080808;
    /* RGB08, background outer */
    --back2: #0c0c0c;
    /* RGB12, button active */
    --back3: #101010;
    /* RGB16, main, buttons */
    --back4: #141414;
    /* RGB20, button hover */
    --back5: #181818;
    /* RGB24, background inner */
    --front1: #fafafa;
    /* RGB250, text */
    --front2: #f6f6f6;
    /* RGB246 */
    --front3: #f2f2f2;
    /* RGB242, text link hover */
    --front4: #eeeeee;
    /* RGB238 */
    --front5: #eaeaea;
    /* RGB234, text link active */
    --shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
    --textshadow: none;
    --fontweight: normal;
}

:root.light {
    --back1: #eaeaea;
    --back2: #eeeeee;
    --back3: #f2f2f2;
    --back4: #f6f6f6;
    --back5: #fafafa;
    --front1: #181818;
    --front2: #141414;
    --front3: #101010;
    --front4: #0c0c0c;
    --front5: #080808;
    --shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    /* --textshadow: 0px 0px 2px black, 0px 0px 4px black; */
    --textshadow: none;
    --fontweight: bold;
}
