:root {
    --back2clear: rgba(22, 22, 22, .75);
}


body {
    background-color: #8798a8;
    background-image: url("/img/test/img290x681_Left_BG.webp");
    background-attachment: fixed;
    background-position: top left;
    background-size: auto auto;
    background-repeat: no-repeat;
}