:root.light {
    --front1: #524330;
    --front2: #594A37;
    --front3: #5E4F3C;

    --border: #B3A593;

    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;
}

body {
    background: url("/img/bgl.png") left no-repeat,
        url("/img/bgr.png") right no-repeat,
        linear-gradient(180deg, var(--back2) 0%, var(--back2) 50%, #594A37 100%);
    background-size: clamp(180px, 40%, 808px) auto;
    background-attachment: fixed;
    padding-bottom: 4em;
}

.contentsButton {
    border-color: #594A37;
}
