/*
.contentsButton {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/GNO2P6_B&W.png") center;
    background-size: cover;
    border-color: rgb(48, 48, 48);
}
*/