.contentsButton {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/GNO2P6_B&W.png") center;
    background-size: cover;
    border-color: rgb(48, 48, 48);
}

#cardO927E6 {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/O927E6.png") center;
    background-size: cover;
    border-color: #003A09;
}

#card8QH3GV {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/8QH3GV.png") center;
    background-size: cover;
    border-color: #000;
}

#cardR1J9VR {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/R1J9VR.png") center;
    background-size: cover;
    border-color: #00204B;
}

#cardWV07MQ {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/WV07MQ.png") center;
    background-size: cover;
    border-color: #3A1C00;
}

#cardR6LJE0 {
    background: linear-gradient(90deg, var(--back2), rgba(22, 22, 22, 0.9375)), url("/img/story/contents/R6LJE0.png") center;
    background-size: cover;
    border-color: #779499;
}