:root {
    --back1: #00040F;
    /* RGB08, drop shadow */
    --back2: #00071e;
    /* RGB22, main background, button:active */
    --back3: #1C2337;
    /* RGB32, borders, button:hover, etc. */
    --border: #1C2337;
    --back4: #393E50;
    --front1: #ffffff;
    /* RGB255, text */
    --front2: #cfcfcf;
    /* RGB207, a:hover */
    --front3: #9f9f9f;
    /* RGB159, a:active */
    --fontweight: normal;
    --outershadow: 5px 5px 10px var(--back1), -5px -5px 10px var(--back3);
    --innershadow: inset 5px 5px 10px var(--back1), inset -5px -5px 10px var(--back3);
}

:root.light {
    --front1: #00040F;
    --front2: #00071e;
    --front3: #1C2337;
    --border: #CBCCCF;
    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;
    --fontweight: bold;
    --outershadow: 5px 5px 10px var(--back1), -5px -5px 10px var(--back3);
    --innershadow: inset 5px 5px 10px var(--back1), inset -5px -5px 10px var(--back3);
}

