/*
:root {
    --back1: #001303;

    --border: #003A09;
}
*/

:root {
    --back1: rgb(0, 8, 0);
    --back2: rgb(0, 22, 0);
    --border: rgb(0, 32, 0);
}

:root.light {
    --front1: #001303;
    --front2: #002706;
    --front3: #003A09;

    --border: #66836C;

    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;
}

body {
    background: url("/img/bgl.png") left no-repeat,
        url("/img/bgr.png") right no-repeat,
        linear-gradient(180deg, var(--back2) 0%, var(--back2) 50%, #002706 100%);
    background-size: clamp(180px, 40%, 808px) auto;
    background-attachment: fixed;
}


@media only screen and (max-width: 720px) {
    .titleBox {
        background: linear-gradient(90deg, var(--back2), rgba(0, 22, 0, 0.75)), url("/img/story/contents/O927E6.png") 50% 25%;
    }
}