:root {
    --back1: #001303;

    --border: #003A09;

    --outershadow: 3px 3px 6px rgba(0, 0, 0, 0.5), -3px -3px 6px rgba(0, 0, 0, 0.25);
    --innershadow: inset 3px 3px 6px rgba(0, 0, 0, 0.5), inset -3px -3px 6px rgba(0, 0, 0, 0.25);
}

:root.light {
    --front1: #001303;
    --front2: #002706;
    --front3: #003A09;

    --border: #66836C;

    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;

    --outershadow: 3px 3px 6px rgba(0, 0, 0, 0.5), -3px -3px 6px rgba(0, 0, 0, 0.25);
    --innershadow: inset 3px 3px 6px rgba(0, 0, 0, 0.5), inset -3px -3px 6px rgba(0, 0, 0, 0.25);
}

body{
    background: var(--back2);
    background: linear-gradient(180deg, var(--back2) 0%, var(--back2) 50%, #002706 100%);
}