:root.light {
    --front1: #000B19;
    --front2: #001632;
    --front3: #00204B;

    --border: #66768D;

    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;
}

body {
    background: url("/img/bgl.png") left no-repeat,
        url("/img/bgr.png") right no-repeat,
        linear-gradient(180deg, var(--back2) 0%, var(--back2) 50%, #001632 100%);
    background-size: clamp(180px, 40%, 808px) auto;
    background-attachment: fixed;
}