:root {
    --back3: #283133;

    --border: #779499;
}

:root.light {
    --front1: #283133;
    --front2: #506366;
    --front3: #779499;

    --border: #A1B0B4;

    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;
}

/*
html,
body{
    min-height: 100%;
    background: var(--back2);
    background: linear-gradient(180deg, var(--back2) 0%, var(--back2) 50%, #506366 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
*/

body {
    background: url("/img/bgl.png") left no-repeat,
        url("/img/bgr.png") right no-repeat,
        linear-gradient(180deg, var(--back2) 0%, var(--back2) 50%, #506366 100%);
    background-size: clamp(180px, 40%, 808px) auto;
    background-attachment: fixed;
    padding-bottom: 4em;
}