/* WIP */
:root {
    --back1: #1a150d;
    --back2: #251f13;
    --back3: #302819;
    --border: #302819;
}


section.titleBox,
div.titleBoxText {
    background-color: rgba(0, 0, 0, 0);
}


body {
    background-color: var(--back2);
    background-image: linear-gradient(180deg, rgba(37, 31, 19, 0.5) 0%, #251f13 100%),
        url("/img/test/Metru-Nui-blue-cloud.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 4em;
}