:root {
    --back1: #130900;
    /* RGB08, drop shadow */
    --back2: #271300;
    /* RGB22, main background, button:active */
    --back3: #3A1C00;
    /* RGB32, borders, button:hover, etc. */
    --back4: #4E2600;

    --border: #3A1C00;

    --front1: #ffffff;
    /* RGB255, text */
    --front2: #cfcfcf;
    /* RGB207, a:hover */
    --front3: #9f9f9f;
    /* RGB159, a:active */

    --fontweight: normal;

    --outershadow: 5px 5px 10px var(--back1), -5px -5px 10px var(--back3);
    --innershadow: inset 5px 5px 10px var(--back1), inset -5px -5px 10px var(--back3);
}

:root.light {
    --front1: #130900;
    --front2: #271300;
    --front3: #3A1C00;

    --border: #CBCCCF;

    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;

    --fontweight: bold;

    --outershadow: 5px 5px 10px var(--back1), -5px -5px 10px var(--back3);
    --innershadow: inset 5px 5px 10px var(--back1), inset -5px -5px 10px var(--back3);
}