:root {
    --back1: #130900;
    
    --border: #3A1C00;
}

:root.light {
    --front1: #130900;
    --front2: #271300;
    --front3: #3A1C00;

    --border: #837468;

    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;
}

body {
    background: url("/img/bgl.png") left no-repeat,
        url("/img/bgr.png") right no-repeat,
        linear-gradient(180deg, var(--back2) 0%, var(--back2) 50%, #271300 100%);
    background-size: clamp(180px, 40%, 808px) auto;
    background-attachment: fixed;
    padding-bottom: 4em;
}