:root {
    --back1: #130900;
    
    --border: #3A1C00;
}

:root.light {
    --front1: #130900;
    --front2: #271300;
    --front3: #3A1C00;

    --border: #837468;

    --back4: #FFFFFF;
    --back3: #F9F9FA;
    --back2: #E5E6EB;
    --back1: #B1B1B2;
}

html,
body{
    height: 100%;
    background: var(--back2);
    background: linear-gradient(180deg, var(--back2) 0%, var(--back2) 50%, #271300 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}